<!--<ul>
    <li *ngFor = "let car of cars">
        <app-macchina [car]="car">
        </app-macchina>
    </li>
</ul>-->
<div class="row">
    <div class="col-sm-6 bg-secondary" *ngFor = "let car of cars">
      <div class="card">
        <div class="card-body bg-primary">
          <h5 class="card-title">
            <app-macchina [car]="car">
            </app-macchina>
          </h5>
          <p class="card-text">Macchina da riparare</p>
        </div>
      </div>
    </div>
</div>







